*{
	box-sizing: border-box;
	margin: 0;
    padding: 0;
}

body{
font-family: 'Droid Sans', sans-serif;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: 800;
}

.title{
	margin:1.2rem;
	color: rgb(0 22 127);
}

.carList{
	display:grid;
	grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
	grid-gap:2rem;
	margin:1.2rem;
	/* height: 100vh; */
}

li{
	border-radius: 10px;
	padding:20px;
	list-style-type: none;
    border: 1px solid  #abafab;
	box-shadow: 10px 9px 16px 5px rgba(0, 0, 0, 0.24);
	background-color: rgb(24, 104, 141);
	/* text-shadow: 1px 1px 5px rgba(18, 53, 224, 0.43); */
	color: rgb(0 22 127);
	background: linear-gradient(
		326deg
		, rgb(114 201 234), transparent);
}

li:hover{
	transform: scale(1.1,1.1);
}

h4,h5,h6{
	font-size: 18px;
}
h6{
	margin: 0;
	margin-bottom: 15px;
}
